@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: antiquewhite;
    color: #000;

    font-size: 16px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;

    font: normal 16px 'Roboto', sans-serif;

}

.container{
    max-width: 800px;
    margin: auto;   
    padding-top: 30px;
}

.btn {
    background-color: #111;
    padding: 15px 20px;
    color: #e2e2e2;
    border: 1px solid #25ad59;
    font-family: inherit;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    opacity: 0.9;
}

.Logo {
    width: 200px;
    border-radius: 40px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info p {
    color: rgb(95, 94, 93);
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

.info-text {
    margin-left: 20px;
}

.info-text h4 {
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    .info {
        display: block;
        text-align: center;
    }
}
.link-list{
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #25ad59;
    padding-bottom: 5px;
}

.list {
    padding: 0 20px;
}

.list li {
    color: rgb(136, 136, 128);
    margin-bottom: 10px;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;

}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3){
    color: azure;
}


.contacts h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #25ad59;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}


.row > .form-group:last-child {
    margin-right: 0px;
}
/*
.table tr:nth-child(odd){
    color: rgb(206, 71, 71);
}
*/
.bg-green{
    background: #80e960;
}

.bg-light-green{
    background: #c8e7b2;
}

.bg-dark-green{
    background: #25ad59;
}

.position {
    height: 300px;
    position: relative;
    border: 4px solid red;
    margin-top: 40px;
    padding: 20px;
}

.box {
    position: fixed;
    width: 100%;
    height: 20px;
    top: 0px;
    left: 0px;
    background: #cc7171;
}

/*a{
    color: #000;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}

a:active{
    color: red;
}

a:visited{
    color:gray;
}*/

/*Box model*/
/*.social{
    background: red;
    padding: 15px 40px;
    border: 5px dotted green;
    border-top-width: 20px;
    border-top: solid;
    margin: 20px;

}

.box-model > div {
    background: black;
    height: 200px;
    width: 25%;
    float: left;
    border: 4px solid red;
    box-sizing: border-box;
}*/